body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(25, 56, 66);
  margin: 20px;
}

h1 {
  text-align: center;
  color: aliceblue;
}

h3 {
  text-align: center;
  color: aliceblue;
}

p {
  text-align: center;
  color: aliceblue;
}

label {
  text-align: center;
  color: aliceblue;
}

form {
  text-align: center
  ;
}

img {
  align-items: center;
  margin: auto;
  height: auto;
  width: 75%;
  display: block;
}